<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{profileData.name}}</h2>
            <h4>{{profileData.email}}</h4>
        </div>
        <img [src]="profileData.imageProfile" alt="Abdoalgadir">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Show</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>perm_media</mat-icon>
        Employees
    </a>
    <mat-divider></mat-divider>




</mat-nav-list>
